* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #37384e;
    overflow: hidden;

}

main {

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 2rem;
}

h1 {
    font-size: 3.8rem;
    font-weight: bolder;
}

p {
    width: 28rem;

}

.labelContent {
    width: 25rem;
    font-weight: bold;
    font-size: .8rem;
}

#invalidMessage {
    color: red;
}

input {
    outline: none;
    width: 25rem;
    padding: .8rem;
    border: solid rgba(128, 128, 128, 0.507) 1px;
    border-radius: .5rem;
}

.invalid {
    border: solid red 1px;
    background-color: rgba(255, 0, 0, 0.048);
    color: red;
}

button {
    background-color: #232742;
    color: azure;
    width: 25rem;
    padding: .8rem;
    border: solid rgba(128, 128, 128, 0.308) 1px;
    border-radius: .5rem;
}

.buttonSubs:hover {
    background-color: #232742cc;
}

.buttonSubs:active {
    background-color: #232742;
    font-size: 1.1rem;
}

.Modal {
    position: absolute;
    background-color: #37384e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    position: relative;
}

.closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    
}

.modalContent {
    position: relative;
    padding: 4rem;
    background-color: white;
    width: 35%;
    min-width: 20rem;
    border-radius: 3rem;
}

.modalContent>h2 {
    font-weight: bold;
}

.P1 {
    margin: 0;
    width: 100%;
}

.Dismniss {
    height: 2rem;
}